html {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
body,
h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: yellow;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 10px 100px 10px 100px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
  max-width: 100px;
}

img {
  border-radius: 5px;
}

.navL {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navL nav a {
  color: black;
}

.logo {
  max-width: 300px;
}

.navR ul {
  display: flex;
  flex-wrap: wrap;
}

.navR a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.navR a:hover {
  color: #122ab2;
}

.char {
  text-align: center;
  border: 3px solid green;
}

main {
  padding: 20px;
  max-width: 1720px;
  margin: 0 auto;
}


.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.character {
  width: 300px;
  margin: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character img {
  width: 100%;
  border-radius: 5px;
}

.character h2 {
  margin: 10px 0;
  font-size: 20px;
}

.character p {
  margin: 0;
}


.character-list {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.character-list ul {
  list-style: none;
}

.character-list li {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.character-list h3 {
  margin-bottom: 10px;
  color: #333;
}

.episode-list {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.episode-list ul {
  list-style: none;
}

.episode-list li {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.episode-list h3 {
  margin-bottom: 10px;
  color: #333;
}

.search-bar {
  margin-top: 20px;
  text-align: center;
}

.search-bar input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #f39c12;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.character-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-height: 57px;
  float: left;
}

.character-image:hover{
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}